// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Styles Extends
//  _____________________________________________

//
//  Item default styles align
//  ---------------------------------------------

@mixin abs-item-align (
  $item-align__margin-left: '',
  $item-align__margin-right: ''
) {
    @if ($item-align__margin-left != '') {
      > * {
        display: inline-block;
        margin-left: $item-align__margin-left;
        vertical-align: middle;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    @if ($item-align__margin-right != '') {
      > * {
        display: inline-block;
        margin-right: $item-align__margin-right;
        vertical-align: middle;

        &:last-child {
          margin-right: $item-align__margin-right;
        }
      }
    }
}

//
//  Item default styles align
//  ---------------------------------------------

%abs-item-vertical-align {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  > span {
    font-size: initial;
  }
}

//
//  List default styles reset
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-reset-list {
        @include lib-list-reset-styles();
        > li {
            margin: 0;
        }
    }
}

//
//  Link as a button
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-action-link-button {
        @include lib-button();
        @include lib-link-as-button();
        border-radius: $button__border-radius;
    }
}

//
//  Button reset width, floats, margins
//  ---------------------------------------------

@mixin abs-button-responsive() {
    @include lib-button-responsive();
};

@if ($media-common == true) {
    %abs-button-responsive {
        @include abs-button-responsive();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-button-desktop {
        width: auto;
    }
}

@media only screen and (max-width: ($screen__m - 1)) {
  %abs-button-responsive-smaller {
      @include abs-button-responsive();
  }
}

//
//  Blocks in 2 columns
//  ---------------------------------------------

@mixin abs-blocks-2columns() {
    width: 48.8%;

    &:nth-child(odd) {
        clear: left;
        float: left;
    }

    &:nth-child(even) {
        float: right;
    }
};

@media only screen and (min-width: ($screen__m)) {
  %abs-button-responsive-smaller {
      @include abs-button-responsive();
  }
}

@media only screen and (min-width: ($screen__s)) {
  %abs-blocks-2columns-s {
      @include abs-blocks-2columns();
  }
}

//
//  Reset image alignment in container
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-reset-image-wrapper {
        height: auto;
        padding: 0 !important;
    }
}

//
//  Adaptive images
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-adaptive-images {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .abs-adaptive-images-centered {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }
}

//
//  Title for login blocks
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-login-block-title {
        strong {
            font-weight: 500;
        }
        border-bottom: 1px solid $secondary__color;
        margin-bottom: 15px;
        padding-bottom: 12px;
    }
}


//
//  Input quantity
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-input-qty {
        text-align: center;
        width: 47px;
    }
}

//
//  Marging for blocks & widgets
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-margin-for-blocks-and-widgets {
        margin-bottom: $indent__xl;
    }
}

//
//  Remove button for blocks
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-remove-button-for-blocks {
    }
}

//
//  Reset left margin
//  ---------------------------------------------

@mixin abs-reset-left-margin() {
    margin-left: 0;
};

@if ($media-common == true) {
    %abs-reset-left-margin {
        @include abs-reset-left-margin();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-reset-left-margin-desktop {
        @include abs-reset-left-margin();
    }
}

@media only screen and (min-width: ($screen__s)) {
    %abs-reset-left-margin-desktop-s {
        @include abs-reset-left-margin();
    }
}

//
//  Action with icon remove with text
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-action-remove {
        @extend %abs-action-button-as-link;
        left: $indent__s;
        margin-left: 70%;
        position: absolute;
        top: 31px;
        width: auto;
    }
}

//
//  Action with icon remove with text for desktop
//  ---------------------------------------------

@media only screen and (min-width: ($screen__m)) {
    %abs-action-remove-desktop {
       @if ($form-field-type-label-inline__width != false and $form-field-type-label-inline__width != '') {
          margin-left: $form-field-type-label-inline__width + 50%;
          top: 6px;
       }
    }
}

//
//  Add Recipient
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-add-fields {
        .fieldset {
            margin-bottom: 50px;

            .field {
                &:not(.choice) {
                    .control {
                        width: 70%;
                    }
                }
            }

            .actions-toolbar {
                &:not(:first-child) {
                    @extend %abs-add-clearfix;

                    > .secondary {
                        .action {
                            &.add {
                                margin-top: $indent__l;
                            }
                        }

                        float: left;
                    }
                }
            }

            .fields {
                .actions-toolbar {
                    margin: 0;
                }
            }
        }

        .message {
            &.notice {
                margin: $indent__l 0 0;
            }
        }

        .additional {
            margin-top: 55px;
            position: relative;
        }

        .action {
            &.remove {
                @extend %abs-action-remove;
            }
        }
    }
}

//
//  Add Recipient for desktop
//  ---------------------------------------------

@media only screen and (min-width: ($screen__m)) {
    .abs-add-fields-desktop {
        .fieldset {
            .field {
                &:not(.choice) {
                    .control {
                        width: 50%;
                    }
                }
            }

            .additional {
                .action {
                    &.remove {
                        @extend %abs-action-remove-desktop;
                    }
                }
            }
        }
    }
}

//
//  Margin for forms
//  ---------------------------------------------

@mixin abs-margin-for-forms-desktop() {
    margin-left: $form-field-type-label-inline__width;
};

@media only screen and (min-width: ($screen__m)) {
    %abs-margin-for-forms-desktop {
        @include abs-margin-for-forms-desktop();
    }
}

@media only screen and (min-width: ($screen__s)) {
    %abs-margin-for-forms-desktop-s {
        @include abs-margin-for-forms-desktop();
    }
}

//
//  Visibility hidden / show visibility hidden
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-hidden {
        @include lib-visibility-hidden();
    }
}

//
//  Visually hidden / show visually hidden
//  ---------------------------------------------

@mixin abs-visually-hidden {
    @include lib-visually-hidden();
};

@if ($media-common == true) {
    %abs-visually-hidden {
        @include abs-visually-hidden();
    }
}

@media only screen and (max-width: ($screen__s - 1)) {
    %abs-visually-hidden-mobile {
        @include abs-visually-hidden();
    }
}

@media only screen and (max-width: ($screen__m - 1)) {
    %abs-visually-hidden-mobile-m {
        @include abs-visually-hidden();
    }
}

@media only screen and (min-width: ($screen__s)) {
    %abs-visually-hidden-desktop-s {
        @include abs-visually-hidden();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-visually-hidden-desktop {
        @include abs-visually-hidden();
    }
}

//
//  Visually hidden reset
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-visually-hidden-reset {
        @include lib-visually-hidden-reset();
    }
}

//
//  Clearfix
//  ---------------------------------------------

@mixin abs-add-clearfix() {
    @include lib-clearfix();
};

@if ($media-common == true) {
    %abs-add-clearfix {
        @include abs-add-clearfix();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-add-clearfix-desktop {
        @include abs-add-clearfix();
    }
}

@media only screen and (min-width: ($screen__s)) {
    %abs-add-clearfix-desktop-s {
        @include abs-add-clearfix();
    }
}

@media only screen and (max-width: ($screen__s - 1)) {
    %abs-add-clearfix-mobile {
        @include abs-add-clearfix();
    }
}

@media only screen and (max-width: ($screen__m - 1)) {
    %abs-add-clearfix-mobile-m {
        @include abs-add-clearfix();
    }
}

//
//  Box-sizing
//  ---------------------------------------------

@mixin abs-add-box-sizing() {
    box-sizing: border-box;
};

@if ($media-common == true) {
    %abs-add-box-sizing {
        @include abs-add-box-sizing();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-add-box-sizing-desktop {
        @include abs-add-box-sizing();
    }
}

@media only screen and (min-width: ($screen__s)) {
    %abs-add-box-sizing-desktop-s {
        @include abs-add-box-sizing();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-add-box-sizing-desktop-m {
        @include abs-add-box-sizing();
    }
}

//
//  Revert field type
//  ---------------------------------------------

@media only screen and (min-width: ($screen__m)) {
    %abs-revert-field-type-desktop {
        .fieldset {
            > .field,
            .fields > .field {
                @include lib-form-field-type-revert($_type: block);

                &:not(:first-child):last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//
//  Large button
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-button-l {
        @include lib-button-l();
    }
}

//
//  Button as a link
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-action-button-as-link {
        @include lib-button-as-link($_margin: false);
        border-radius: 0;
        font-size: inherit;
        font-weight: $font-weight__regular;

        &:active,
        &:not(:focus) {
            box-shadow: none;
        }
    }
}

//
//  Button revert secondary color
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-revert-secondary-color {
        @include lib-button-revert-secondary-color();
    }
}

//
//  Button revert secondary size
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-revert-secondary-size {
        @include lib-button-revert-secondary-size();
    }
}

//
//  Add colon
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-colon {
        &:after {
            content: ': ';
        }
    }
}

//
//  Icon - create add
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-icon-add {
    }
}


//
//  Abstract toggle title block
//  ---------------------------------------------

@media only screen and (max-width: ($screen__m - 1)) {
    %abs-toggling-title-mobile {
        border-bottom: $border-width__base solid $border-color__base;
        border-top: $border-width__base solid $border-color__base;
        cursor: pointer;
        margin-bottom: 0;
        padding: $indent__s $indent__xl $indent__s $layout__width-xs-indent;
        position: relative;

        &:after {
            position: absolute;
            right: $indent__s;
            top: 0;
        }

        &.active {
        }
    }
}

//
//  Abstract no display
//  ---------------------------------------------

@mixin abs-no-display() {
    display: none;
};

@if ($media-common == true) {
    %abs-no-display {
        @include abs-no-display();
    }
}

@media only screen and (max-width: ($screen__s - 1)) {
    %abs-no-display-s {
        @include abs-no-display();
    }
}

@media only screen and (min-width: ($screen__m)) {
    %abs-no-display-desktop {
        @include abs-no-display();
    }
}

//
//  Status
//  ---------------------------------------------

@if ($media-common == true) {
    .abs-status {
        display: inline-block;
        margin-bottom: $indent__base;
    }
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@media only screen and (max-width: ($screen__m - 1)) {
    .abs-pager-toolbar-mobile {
        .toolbar-amount,
        .limiter,
        .pages {
            float: none;
            margin-bottom: $indent__m;
        }
    }
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@media only screen and (max-width: ($screen__s - 1)) {
    .abs-pager-toolbar-mobile-s {
        .toolbar-amount,
        .limiter,
        .pages {
            margin-bottom: $indent__m;
        }
    }
}

//
//  Pager toolbar for non-catalog pages desktop
//  ---------------------------------------------

@media only screen and (min-width: ($screen__m)) {
    %abs-pager-toolbar {
        margin-bottom: $indent__base;
        position: relative;
        @extend %abs-add-clearfix-desktop;

        .limiter {
            float: right;
            position: relative;
            z-index: 1;
        }

        .toolbar-amount {
            float: left;
            line-height: normal;
            padding: 7px 0 0;
            position: relative;
            z-index: 1;
        }

        .pages {
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }
}

//
//  Items counter in blocks
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-block-items-counter {
        color: $primary__color__lighter;
        font-size: 12px;
        white-space: nowrap;
    }
}

//
//  Form Field Date
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-field-date {
        .control {
            @extend %abs-add-box-sizing;
            position: relative;
        }

        input {
            @extend %abs-field-date-input;
        }
    }
}

//
//  Form Field Date Input
//  ---------------------------------------------

@if ($media-common == true) {
    %abs-field-date-input {
        margin-right: $indent__s;
        width: calc('100% -' $icon-calendar__font-size + $indent__s);
    }
}
