// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'variables.scss';

//
//  Common
//  _____________________________________________
@if ($media-common == true) {

  /*
  **  Feed mode view
  */

  .modes {
    display: none;

    .mode {
      flex: 1 1 auto;
      line-height: 44px;
      text-align: center;
      border-top: 1px solid $border-color__base;
    }
  }

  /*
  **  Feed Upload
  */

  .upload-feed {
    display: flex;
    padding: 16px;
    background: $panel__background-color;

    textarea {
      padding: 0;
      border: 0;
      resize: none;
    }
  }

  /*
  **  Feed View
  */

  .feed {
    position: relative;
    background: #fff;

    &-hover {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      color: $color-white;
      font-weight: $font-weight__semibold;
      background: rgba(0,0,0,.3);

      > div:last-child:not(:first-child) {
        margin-left: 30px;
      }

      span {
        font-size: 16px;
        vertical-align: middle;
      }
    }

    &-header {
      position: relative;
      padding: $indent__base;

      .icon-sprite {
        margin-right: 8px;

        &.more {
          position: absolute;
          top: 21px;
          right: 12px;
        }
      }
    }

    &-content {
      > textarea {
        border: 0;
      }

      .comment {
        display: flex;
        align-items: center;
        height: 56px;
        border-top: 1px solid $border-color__base;

        textarea {
          height: 18px;
          max-height: 80px;
          border: none;
          box-sizing: content-box;
          resize: none;
        }

        button {
          border: none;
          white-space: nowrap;
        }
      }
    }

    &-content-inner {
      padding: $indent__base;
    }

    &-pic {
      img {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &-inner {
        position: relative;
        padding-bottom: 100%;
        background: #efefef;
      }
    }

    .heart-count {
      margin: 8px 0;
    }
  }

  .feed-list {
    width: 100%;

    .grid-mode-view {
      .feed-header,
      .feed-content {
        display: none;
      }

      .feed-item {
        flex: 0 0 33.333%;
      }
    }

    .list-mode-view {
      .feed-item {
        flex: 0 0 100%;
      }
    }

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -28px -14px 0;
    }

    .feed-item {
      margin: 0;
      padding: 28px 14px 0;
      box-sizing: border-box;

      img {
        display: block;
      }
    }
  }

  .feed-view {
    width: 100%;

    .feed {
      position: relative;
    }

    .feed-header {
      border-bottom: 1px solid $border-color__base;
    }

    .feed-pic {
      order: 0;
      background: $color-white-dark-smoke;
    }

    .feed-content {
      display: flex;
      order: 2;
      flex-grow: 1;
      flex-direction: column;
      padding-top: 67px;
    }

    .feed-comments {
      flex: 1;
    }
  }
}

//
//  Desktop
//  _____________________________________________
@media only screen and (min-width: ($screen__m)) {
  .feed {
    width: 100%;

    .grid-mode-view & {
      &:hover {
        .feed-hover {
          display: flex;
        }
      }
    }
  }

  .feed-view {
    .feed {
        display: flex;
    }

    .feed-header {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 600px);
      box-sizing: border-box;
    }

    .feed-pic {
      width: 600px;
    }
  }
}
//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: ($screen__m - 1)) {
  .modes {
    display: flex;
  }

  .feed-list {
    ul {
      margin: 0 -2px;
    }

    .feed-item {
      padding: 2px;
    }
  }
}
