// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________
@if ($media-common == true) {

  /*
  **  Feed Upload
  */

  .upload-feed {
    display: flex;
    padding: 16px;
    background: $panel__background-color;

    textarea {
      flex: 1;
      padding: 0;
      border: 0;
      resize: none;
    }
  }

  /*
  **  Feed View
  */

  .feed {
    position: relative;
    background: #fff;

    .content-view {
      time {
        font-size: 10px;
      }
    }

    time {
      font-weight: $font-weight__regular;
      color: #999;
    }

    &-hover {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      color: $color-white;
      font-weight: $font-weight__semibold;
      background: rgba(0,0,0,.3);

      > div:last-child:not(:first-child) {
        margin-left: 30px;
      }

      span {
        font-size: 16px;
        vertical-align: middle;
      }
    }

    &-header {
      position: relative;
      padding: $indent__base;

      .icon-sprite {
        margin-right: 8px;

        &.more {
          position: absolute;
          top: 21px;
          right: 12px;
        }
      }
    }

    &-content {
      > textarea {
        border: 0;
      }

      &.edit-comment {
        >textarea {
          height: 100%;
        }
      }

      .comment {
        height: 56px;
        border-top: 1px solid $border-color__base;
      }
    }

    &-content-inner {
      padding: $indent__base;
    }

    &-pic {
      img,
      video {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &-inner {
        position: relative;
        padding-bottom: 100%;
        background: $color-white;

        &.load {
          background: #efefef;

          > img,
          > video {
            display: none;
          }
        }

        &:not(.load) {
          #feed-loading {
            display: none;
          }
        }
      }
    }

    &-others {
      margin: 16px 0 4px;

      > * {
        font-size: 12px;
        color: #999;
      }

      time {
        margin-right: 16px;
      }

      button {
        border: 0;
      }
    }

    .heart-count {
      margin: 8px 0;
    }

    .more-comment,
    .more-comment > a {
      color: #999;
    }
  }

  .feed-view {
    width: 100%;

    .feed {
      position: relative;
    }

    .feed-header {
      border-bottom: 1px solid $border-color__base;
    }

    .feed-pic {
      order: 0;
      background: $color-white-dark-smoke;
    }

    .feed-content {
      display: flex;
      order: 2;
      flex: 1;
      flex-direction: column;
    }

    .feed-comments {
      flex: 1;
    }
  }

  /*
  **  Feed List
  */

  .feed-list {
    width: 100%;

    .grid-mode-view {
      .feed {
        border: 0;
      }

      .feed-header,
      .feed-content {
        display: none;
      }

      .feed-item {
        flex: 0 0 33.333%;
      }

      .feed-pic-inner {
        overflow: hidden;
        padding-bottom: 100% !important;
      }

      img,
      video {
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .list-mode-view {
      .feed-item {
        flex: 0 0 100%;
      }
    }

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -28px -14px 0;
    }

    .feed-item {
      margin: 0;
      padding: 28px 14px 0;
      box-sizing: border-box;

      img {
        display: block;
      }
    }

    .feed-comment {
      display: inline-block;

      .user-id {
        margin-right: 8px;
      }

      .feed-text {
        margin-left: 0;
      }
    }
  }

  .comment {
    display: flex;
    align-items: center;

    form {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 12px 16px;
      background: #fff;
    }

    textarea {
      height: 18px;
      max-height: 80px;
      padding: 0;
      border: none;
      box-sizing: content-box;
      resize: none;

      &:focus {
        border: none;
      }
    }

    button {
      padding: 0;
      border: none;
      white-space: nowrap;
      font-size: $font-size__base;
      font-weight: $font-weight__semibold;
      color: $active__color;

      &:disabled {
        opacity: .3;
      }
    }
  }

  .feed-comment-view {
    .feed-comment {
      border-bottom: 1px solid $border-color__base;
    }
  }

  .feed-comment-list {
    .comment {
      padding: 8px 16px;
      background: #efefef;

      form {
        margin-left: 16px;
        border: 1px solid #dbdbdb;
        border-radius: 30px;

        textarea {
          height: 18px;
        }

        button {
        }
      }
    }

    .feed-comment,
    .user-comment,
    .user-recomment {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      position: relative;
      margin-bottom: 0;
      padding: 12px 16px;

      .user-wrapper {
        align-items: start;
      }

      .feed-others {
        width: 100%;
        margin-left: 50px;
      }

      .user-text {
        flex: 1;
        word-break: break-all;
      }

      .icon-sprite.comment-more {
        display: none;
        position: absolute;
        right: 16px;
      }

      &:hover {
        .icon-sprite.comment-more {
          display: block;
        }
      }
    }

    .user-recomment {
      width: 100%;
      padding-left: 50px;
      box-sizing: border-box;
    }

    .recomment-more {
      margin-left: 50px;
      background: none;
      border: none;
      font-size: 12px;
      font-weight: $font-weight__semibold;
      color: #999;

      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 1px;
        margin-right: 16px;
        vertical-align: middle;
        background: #999;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________
@media only screen and (min-width: ($screen__m)) {
  .feed {
    width: 100%;

    .grid-mode-view & {
      &:hover {
        .feed-hover {
          display: flex;
        }
      }
    }
  }

  .feed-view {
    .feed {
      display: flex;
    }

    .feed-header {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 600px);
      box-sizing: border-box;
    }

    .feed-pic {
      align-self: center;
      width: 600px;
    }

    .feed-content {
      padding-top: 67px;
    }

    .feed-comments {
      position: relative;
      overflow-y: scroll;

      ul {
        position: absolute;
        width: 100%;
      }
    }
  }
}
//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: ($screen__m - 1)) {
  .feed-list {
    ul {
      margin: 0 -2px;
    }

    .feed-item {
      padding: 2px;
    }
  }

  .feed-view {
    .feed-comment {
      display: inline-block;

      > .feed-text {
        margin-left: 8px;
      }
    }
  }
}
