// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@if ($media-common == true) {
  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid #262626;
    border-radius: 50%;
  }

  .icon-sprite {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border: none;

    > span {
      display: none;
    }
  }

  .ico-glyph {
    background: url("assets/images/common/icon-sprite-glyph.png");
    background-size: 282px 248px;

    &.instagram-logo_ver1 {
      background-position: -183px -125px;
    }

    &.instagram-logo_ver2 {
      width: 103px;
      height: 29px;
      background-position: 0 -144px;
    }

    &.upload {
      background-position: 49px -124px;
    }

    &.mypage {
      background-position: -208px -25px;
    }

    &.setting {
      background-position: -258px -150px;
    }

    &.chat {
      background-position: -183px -25px;
    }
  }

  .ico-glyph-2 {
    background: url("assets/images/common/icon-sprite-glyph_2.png");
    background-size: 302px 273px;

    &.more {
      background-position: -253px -25px;
    }

    &.comment-more {
      background-position: -253px 0;
    }
  }

  .ico-glyph-3 {
    background: url("assets/images/common/icon-sprite-glyph_3.png");
    background-size: 312px 298px;

    &.heart {
      background-position: -263px -50px;
    }

    &.noheart {
      background-position: -263px -25px;
    }

    &.grid-mode {
      background-position: -288px -100px;

      &.active {
        background-position: -288px -75px;
      }
    }

    &.list-mode {
      background-position: -288px -150px;

      &.active {
        background-position: -288px -125px;
      }
    }

    &.back {
      background-position: -50px -249px;
    }

    &.image {
      background-position: -100px -224px;
    }
  }

  .ico-core {
    background: url("assets/images/common/icon-sprite-core.png");

    &.heart {
      background-size: 425px auto;
      background-position: 34px 129px;
    }

    &.chat {
      background-size: 425px auto;
      background-position: 34px 171px;
    }
  }

  .ico-core-2 {
    background: url("assets/images/common/icon-sprite-core_2.png");

    &.instagram-logo_account {
      background-position: -98px -150px;
      display: inline-block;
      width: 175px;
      height: 51px;
    }

    &.follow {
      width: 100px;
      height: 100px;
      background-position: 0 0;
      background-size: 308px;
    }
  }

  .field {
    &.error:after,
    &.after:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 22px;
      height: 22px;
      background: url("assets/images/common/icon-sprite-core.png");
      background-size: 410px 396px;
    }

    &.error:after {
      background-position: -315px -296px;
    }

    &.accept:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 22px;
      height: 22px;
      background: url("assets/images/common/icon-sprite-core.png");
      background-size: 410px 396px;
      background-position: -250px -231px;
    }
  }
}
