// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________
$active-nav-indent: 54px;
//
//  Common
//  _____________________________________________
@if ($media-common == true) {
  nav {
    header & {
      height: 78px;

      > div {
        position: fixed;
        top: 0;
        width: 100%;
        height: 77px;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        z-index: 1;
      }

      ul {
        display: flex;
        height: 77px;
        padding: 26px 20px;
        justify-content: center;
        box-sizing: border-box;

        li {
          position: relative;

          &.logo,
          &.others {
            flex: 1;
          }

          &.search {
            min-width: 215px;

            input {
              @include lib-form-element-input-text(
                $_height: 24px,
                $_padding: $form-element-input__padding
              );
            }

            .ico-core {
              position: absolute;
              background-size: 410px 396px;

              &.searchIcon {
                top: 7px;
                left: 11px;
                width: 10px;
                height: 10px;
                background-position: -240px -366px;
              }

              &.searchClear {
                top: 2px;
                right: 5px;
                width: 20px;
                height: 20px;
                background-position: -379px -212px;
              }
            }
          }

          &.others {
            text-align: right;

            .icon-sprite {
              &:not(:first-child) {
                margin-left: 30px;
              }
            }
          }
        }
      }
    }

    footer & {
      display: inline-block;

      ul {
        li {
          display: inline-block;
        }
      }
    }
  }
}
//
//  Mobile
//  _____________________________________________
@media only screen and (max-width: ($screen__m - 1)) {
  nav {
    header & {
      ul {
        li {
          &.logo {
            .instagram-logo_ver1,
            .bar {
              display: none;
            }
          }
          &.search {
            display: none;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
  }
}
//
//  Desktop
//  _____________________________________________
@media only screen and (min-width: ($screen__m)) {
  footer {
    .container {
      display: flex;
    }

    nav + span {
      margin-left: auto;
    }
  }
}
