// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________
$active-nav-indent: 54px;
//
//  Common
//  _____________________________________________
@if ($media-common == true) {
  nav {
    header & {
      height: 78px;

      > div {
        position: fixed;
        top: 0;
        width: 100%;
        height: 77px;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        z-index: 2;
      }

      ul {
        display: flex;
        height: 77px;
        padding: 26px 20px;
        justify-content: center;
        box-sizing: border-box;

        li {
          position: relative;
          margin-bottom: 0;

          &.logo,
          &.others {
            flex: 1;
          }

          &.search {
            min-width: 215px;

            input {
              @include lib-form-element-input-text(
                $_height: 24px,
                $_padding: $form-element-input__padding
              );
            }

            .ico-core {
              position: absolute;
              background-size: 410px 396px;

              &.searchIcon {
                top: 7px;
                left: 11px;
                width: 10px;
                height: 10px;
                background-position: -240px -366px;
              }

              &.searchClear {
                top: 2px;
                right: 5px;
                width: 20px;
                height: 20px;
                background-position: -379px -212px;
              }
            }
          }

          &.others {
            text-align: right;

            .icon-sprite {
              &:not(:first-child) {
                margin-left: 30px;
              }
            }
          }

          &.back {
            width: 24px;
          }

          &.page-title {
            flex: 2;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
          }

          &.complete {
            text-align: right;

            .upload-btn {
              @include lib-button-as-link(
                $_link-color: $active__color
              );
              display: inline-block;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }

    footer & {
      display: inline-block;

      ul {
        li {
          display: inline-block;
          margin-right: 16px;
        }
      }
    }
  }

  footer {
    padding: 38px 0;
    color: #003569;
    font-size: 12px;
    font-weight: $font-weight__heavier;

    nav {
      a,
      a:active,
      a:visited {
        color: #003569;
      }

      & + span {
        color: #999;
        text-transform: uppercase;
      }
    }

    .page-layout-2columns-right &,
    .page-layout-2columns-left & {
      font-size: 11px;
      color: $color-gray78;

      .container {
        display: block;
      }

      nav li{
        margin-right: 0;

        &:not(:last-child) {
          &:after {
            content: '\00B7';
            margin: 0 2px;
          }
        }

        a,
        a:active,
        a:visited {
          color: $color-gray78;
        }
      }
    }
  }
}
//
//  Mobile
//  _____________________________________________
@media only screen and (max-width: ($screen__m - 1)) {
  nav {
    header & {
      ul {
        li {
          &.logo {
            .instagram-logo_ver1,
            .bar {
              display: none;
            }
          }
          &.search {
            display: none;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
  }
}
//
//  Desktop
//  _____________________________________________
@media only screen and (min-width: ($screen__m)) {
  header {
    .container {
      max-width: 100%;
    }
  }
  footer {
    .container {
      display: flex;
    }

    nav + span {
      margin-left: auto;
    }

    .page-layout-2columns-right &,
    .page-layout-2columns-left & {
      padding-top: 0;

      .container {
        padding: 0;
      }

      nav,
      nav + span {
        color: #c9c9c9;
        font-weight: $font-weight__regular;
      }
    }
  }
}
