// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

$active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

@if ($media-common == true) {
    nav {
        @include lib-css(background, $navigation__background);
        position: fixed;
        top: 0;
        width: 100%;
        height: 77px;
        border-bottom: 1px solid rgba(0,0,0,.0975);

        ul {
          display: flex;
          height: 77px;
          padding: 26px 20px;
          justify-content: center;
          box-sizing: border-box;

          li {
            &.logo,
            &.others {
              flex: 1;
            }

            &.search {
              min-width: 215px;

              input {
                width: $form-element-input__width;
                height: 24px;
                padding: $form-element-input__padding;
                box-sizing: border-box;

                // @include lib-form-element-input(
                //   $_type: input-text,
                //   $_height: 24px
                // );
              }
            }
            &.others {
              text-align: right;

              .icon-sprite {
                &:not(:first-child) {
                  margin-left: 30px;
                }
              }
            }

          }
        }

        .icon-sprite {
          display: inline-block;
          width: 24px;
          height: 24px;
          vertical-align: middle;

          span {
            display: none;
          }
        }
    }
}

//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: ($screen__m - 1)) {
  nav {
    ul {
      li {
        &.search {
          display: none;
        }
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

@media only screen and (min-width: ($screen__m))  {
}
