// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'variables.scss';

//
//  Common
//  _____________________________________________
@if ($media-common == true) {

  .profile {
    display: flex;
    width: 100%;
    margin-bottom: 44px;
    align-items: center;

    > .user-count,
    > .user-des {
        display: none;
    }

    .user-pic {
      width: 150px;
      height: 150px;
      text-align: center;
    }

    .user-des {
      font-weight: $font-weight__semibold;

      p {
        margin-bottom: 0;

        &:last-child {
          font-weight: $font-weight__regular;
        }
      }
    }

    .user-count {
      .count {
        font-weight: $font-weight__semibold;
      }
    }

    .user-info {
      flex-grow: 2;
      font-size: $font-size__m;

      > div {
        margin-bottom: 20px;
      }

      .user-id, .user-edit-btn, .user-btn {
        @extend %abs-item-vertical-align;
      }

      .user-btn {
        margin-left: 8px;
      }

      .user-edit-btn {
        padding: 5px 9px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        text-align: center;
        font-size: $font-size__base;
        font-weight: $font-weight__semibold;

        &:active {
          opacity: .6;
        }
      }

      .user-id {
        font-weight: $font-weight__light;

        > span {
            font-size: 28px;
            word-break: break-all;
        }
      }
    }
  }

  .feed-comment-list {
    .user-pic,
    .user-pic {
      width: 32px;
      min-width: 32px;
      height: 32px;
    }
  }
}

//
//  Desktop
//  _____________________________________________

@media only screen and (min-width: ($screen__m)) {
  .profile {
    .user-pic {
      margin: 0 70px;
    }

    .user-info {
      .user-edit-btn {
          margin-left: 20px;
      }
    }

    .follow-btn {
      button {
        margin-left: 20px;
        padding: 0 24px;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: ($screen__m - 1)) {
  .profile {
    flex-wrap: wrap;
    margin: 30px 0 0;
    padding: 0 16px;
    box-sizing: border-box;

    .follow-btn {
      width: 100%;
      margin-top: 12px;
    }

    .user-info {
      flex: 1;
      margin-left: 28px;

      .user-des,
      .user-count {
        display: none;
      }

      .user-profile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .user-edit-btn {
          order: 1;
          width: 100%;
          margin-top: 12px;
        }
      }
    }

    .user-pic {
      width: 77px;
      max-width: 77px;
      height: 77px;
      text-align: left;
    }

    > .user-count,
    > .user-des {
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    > .user-count {
      ul {
        display: flex;
        margin: 0 -16px;
        padding: 12px 0;
        border-top: 1px solid $border-color__base;

        li {
          flex: 1;
          text-align: center;

          span {
            display: block;

            &.title {
              color: #999;
            }
          }
        }
      }
    }

    > .user-des {
      padding: 20px 0;
    }
  }
}
