// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'variables.scss';
@import 'icons.scss';
//
//  Common
//  _____________________________________________
@if ($media-common == true) {
  body {
    background: $page__background-color;
    font-size: $font-size__base;
    @include lib-typography-links();
  }

  .bar {
    display: inline-block;
    width: 1px;
    height: 28px;
    margin: 0 16px;
    vertical-align: middle;
    background-color: #262626;

    span {
      display: none;
    }
  }
}


//
//  Desktop
//  _____________________________________________

@media only screen and (min-width: ($screen__m)) {
  .feed,
  .follow-list {
    background: #fff;
    border: 1px solid $border-color__base;
    border-radius: 3px;
  }
}
