// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'variables.scss';

body {
  background: $page__background-color;
}

.icon-sprite {
  background: url('assets/images/common/icon-sprite.png');
  background-size: 282px 248px;

  &.instagram-logo_ver1 {
    background-position: -183px -125px;
  }

  &.instagram-logo_ver2 {
    width: 103px;
    height: 29px;
    background-position: 0 -144px;
  }

  &.explore {
    background-position: -200px -224px;
  }

  &.heart {
    background-position: 0 -199px;
  }

  &.user {
    background-position: -208px -25px;
  }
}

.bar {
  display: inline-block;
  width: 1px;
  height: 28px;
  margin: 0 16px;
  vertical-align: middle;
  background-color: #262626;

  span {
    display: none;
  }
}
