// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Layout variables
//  _____________________________________________
//$total-columns: 7.7;
//$gutter-width: 1;
$layout__max-width: 975px;
$layout-indent__width: 20px;
$layout-column__sidebar-width: 4;
$layout-column__right-width: 4;
$layout-column-main__width-2-right: 8;

//
//  Indents
//  ---------------------------------------------

$indent__base: 16px;


//  Colors
//  ---------------------------------------------

$active__color: #3897f0;
$border-color__base: #e6e6e6;
$page__background-color: #fafafa;
$panel__background-color: $color-white;


//  Fonts
//  ---------------------------------------------
$font-size__base: 14px;

//  Links
//  ---------------------------------------------

$link__color: $text-color;
$link__hover__color: $link__color;
$link__active__color: $link__color;
$link__text-decoration: none;
$link__visited__text-decoration: $link__text-decoration;

//
//  Buttons
//  ---------------------------------------------
//  Default = secondary button
$button__color: $active__color;
$button__font-size: 15px;
$button__font-weight: $font-weight__bold;
$button__padding: 8px 15px;
$button__border-radius: 4px;
$button__border: 1px solid $active__color;
$button__background: $color-white;
$button__hover__color: $active__color;
$button__hover__background: $button__background;
$button__hover__border: 1px solid $button__hover__color;

//  Large button
$button__font-size__l: 20px;
$button__padding__l: 20px 0;

//  Primary button
$button-primary__width: 100%;
$button-primary__margin: 8px 0;
$button-primary__line-height: $button__line-height;
$button-primary__background: $active__color;
$button-primary__border: 1px solid $active__color;
$button-primary__hover__background: $active__color;
$button-primary__hover__border: 1px solid $active__color;

//
//  Forms variables
//  _____________________________________________
$form-element-input__background: transparent;
$form-element-input__border-color: $border-color__base;
$form-element-input__border-radius: 3px;
$form-element-input__padding: 3px 10px 3px 26px;
$input-text__border: 1px solid $border-color__base;
$textarea__border: 1px solid $border-color__base;
$textarea__focus__border: none;

//
//  Navigation variables
//  _____________________________________________
$navigation__background: $color-white;
