// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@if ($media-common == true) {
    @include lib-font-face(
        $family-name: $font-family-name__base,
        $font-path: '${baseDir}fonts/AppleSDGothicNeo/AppleSDGothicNeoL',
        $font-weight: 300,
        $font-style: normal
    );

    @include lib-font-face(
        $family-name: $font-family-name__base,
        $font-path: '${baseDir}fonts/AppleSDGothicNeo/AppleSDGothicNeoR',
        $font-weight: 400,
        $font-style: normal
    );

    @include lib-font-face(
        $family-name: $font-family-name__base,
        $font-path: '${baseDir}fonts/AppleSDGothicNeo/AppleSDGothicNeoM',
        $font-weight: 600,
        $font-style: normal
    );

    @include lib-font-face(
        $family-name: $font-family-name__base,
        $font-path: '${baseDir}fonts/AppleSDGothicNeo/AppleSDGothicNeoB',
        $font-weight: 700,
        $font-style: normal
    );
}

//
//  Desktop
//  _____________________________________________

@media only screen and (min-width: ($screen__m))  {
    h1 {
        font-size: $h1__font-size-desktop;
        margin-bottom: $h1__margin-bottom__desktop;
    }
}

//
//  Common
//  _____________________________________________

@if ($media-common == true) {
    .items {
        @include lib-list-reset-styles();
    }
}
