// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Common
//  _____________________________________________
@if ($media-common == true) {
  .user-list {
    padding: $indent__s $indent__base;
    background-color: $panel__background-color;

    .user-name {
      color: #999;
      font-size: 12px;
    }

    ol {
      @extend %abs-reset-list;
    }
  }

  .profile,
  .user,
  .user-comment,
  .feed-comment,
  .feed-header,
  .my-count ul {
    @include abs-item-align($item-align__margin-left: $indent__base);

    li {
      margin-bottom: 0;
    }
  }

  .my-pic-inner,
  .user-pic {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    background-color: #efefef;
    vertical-align: middle;
  }

  .user-id,
  .my-id,
  .my-name {
    font-weight: 600;
  }

  .user-pic {
    height: 34px;

    img {
      width: 34px;
      height: 34px;
    }
  }

  .my-pic,
  .user-pic{
    img {
      display: block;
    }
  }
}
