// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Common
//  _____________________________________________
@if ($media-common == true) {
  .profile,
  .follower,
  .feed-header,
  .my-count ul {
    @include abs-align-item($indent__base);
    @extend %abs-reset-list;
  }

  .follower-pic,
  .my-pic,
  .user-pic {
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
  }

  .follower-name,
  .my-name,
  .user-name {
    font-weight: 600;
  }

  .user-pic,
  .follower-pic {
    height: 34px;

    img {
      width: 34px;
      height: 34px;
    }
  }
}
