// /**
//  * Copyright © Enstagram, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

$baseDir: "../"; // Base directory path

@import 'lib/lib.scss';
@import 'reset.scss';
@import 'theme.scss';
@import 'extends.scss';
@import 'forms.scss';
@import 'buttons.scss';
@import 'layout.scss';
@import 'navigation.scss';
@import 'user.scss';

//
//  Typography
//  ---------------------------------------------

//  Fonts
$font-family-name__base: 'Open Sans';
$font-family__base: $font-family-name__base, $font-family__sans-serif;

@import 'typography.scss';

//
//  Sidebar
//  ---------------------------------------------

$sidebar__background-color: $color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account
